@model List<ResultDealDto>
@{
    int count = 0;
    var active = "";
    int contentCount = 0;
    var contentActive = "";
    var selected = "";
}
<div class="section best-deal">
    <div class="container">
        
            <div class="section best-deal">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="section-heading">
                                
                                <h2>Title</h2>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="tabs-content">
                                <div class="row">
                                    <div class="nav-wrapper ">
                                        <ul class="nav nav-tabs" role="tablist">
                                            @foreach (var item in Model)
                                            {
                                            count++;
                                            if (count==1)
                                            {
                                                active = "active";
                                                selected = "true";
                                            }
                                            else
                                            {
                                                selected="false";
                                                active = "";
                                            }
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link @active" id="@item.Type-tab" data-bs-toggle="tab" data-bs-target="#@item.Type" type="button" role="tab" aria-controls="@item.Type" aria-selected="@selected">@item.Type</button>
                                                </li>
                                            }
                                            
                                        </ul>
                                    </div>
                              
                                    <div class="tab-content" id="myTabContent">
                                    @foreach (var item in Model)
                                    {
                                        contentCount++;
                                        if(contentCount==1){ contentActive = "active"; } else{ contentActive = ""; }
                                        <div class="tab-pane fade show @contentActive" id="appartment" role="tabpanel" aria-labelledby="appartment-tab">
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="info-table">
                                                        <ul>
                                                            <li>Total Flat Space <span>@item.Square</span></li>
                                                            <li>Floor number <span>@item.Floor</span></li>
                                                            <li>Number of rooms <span>@item.RoomCount</span></li>
                                                            <li>Parking Available <span>@item.ParkingArea</span></li>
                                                            <li>Payment Process <span>@item.PaymentType</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <img src="@item.ImageUrl" alt="">
                                                </div>
                                                <div class="col-lg-3">

                                                    <p>@item.Description</p>
                                                    <div class="icon-button">
                                                        <a href="property-details.html"><i class="fa fa-calendar"></i>Ziyaret Et</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                   

                                    </div>
                               
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
      
    </div>
</div>
